<a href="https://colab.research.google.com/github/sagniknayak/Machine_Learning_with_Python-Projects_in_freecodecamp.org/blob/main/Copy_of_fcc_book_recommendation_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Note: You are currently reading this using Google Colaboratory which is a cloud-hosted version of Jupyter Notebook. This is a document containing both text cells for documentation and runnable code cells. If you are unfamiliar with Jupyter Notebook, watch this 3-minute introduction before starting this challenge: https://www.youtube.com/watch?v=inN8seMm7UI*

---

In this challenge, you will create a book recommendation algorithm using **K-Nearest Neighbors**.

You will use the [Book-Crossings dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/). This dataset contains 1.1 million ratings (scale of 1-10) of 270,000 books by 90,000 users. 

After importing and cleaning the data, use `NearestNeighbors` from `sklearn.neighbors` to develop a model that shows books that are similar to a given book. The Nearest Neighbors algorithm measures distance to determine the “closeness” of instances.

Create a function named `get_recommends` that takes a book title (from the dataset) as an argument and returns a list of 5 similar books with their distances from the book argument.

This code:

`get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")`

should return:

```
[
  'The Queen of the Damned (Vampire Chronicles (Paperback))',
  [
    ['Catch 22', 0.793983519077301], 
    ['The Witching Hour (Lives of the Mayfair Witches)', 0.7448656558990479], 
    ['Interview with the Vampire', 0.7345068454742432],
    ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.5376338362693787],
    ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.5178412199020386]
  ]
]
```

Notice that the data returned from `get_recommends()` is a list. The first element in the list is the book title passed in to the function. The second element in the list is a list of five more lists. Each of the five lists contains a recommended book and the distance from the recommended book to the book passed in to the function.

If you graph the dataset (optional), you will notice that most books are not rated frequently. To ensure statistical significance, remove from the dataset users with less than 200 ratings and books with less than 100 ratings.

The first three cells import libraries you may need and the data to use. The final cell is for testing. Write all your code in between those cells.

In [ ]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [ ]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2021-03-01 13:38:30--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 104.26.2.33, 172.67.70.149, 104.26.3.33, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|104.26.2.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘book-crossings.zip.7’

book-crossings.zip.     [   <=>              ]  24.88M  43.1MB/s    in 0.6s

2021-03-01 13:38:30 (43.1 MB/s) - ‘book-crossings.zip.7’ saved [26085508]

Archive:  book-crossings.zip
replace BX-Book-Ratings.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [ ]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [ ]:
# add your code here - consider creating a new cell for each section of code

In [ ]:
book_rating_cnt = df_ratings.groupby(by = ['isbn'])['rating'].count().reset_index().rename(columns = {'rating': 'total_book_rating'})

In [ ]:
user_rating_cnt = df_ratings.groupby(by = ['user'])['rating'].count().reset_index().rename(columns = {'rating': 'total_user_rating'})
user_rating_cnt

          user  total_user_rating
0            2                  1
1            7                  1
2            8                 18
3            9                  3
4           10                  2
...        ...                ...
105278  278846                  2
105279  278849                  4
105280  278851                 23
105281  278852                  1
105282  278854                  8

[105283 rows x 2 columns]

In [ ]:
df_rat = df_ratings.merge(df_books, right_on='isbn', left_on='isbn', how = 'left')

In [ ]:
df_rat = df_rat.merge(book_rating_cnt, right_on='isbn', left_on='isbn', how = 'left')

In [ ]:
df_rat = df_rat.merge(user_rating_cnt, right_on='user', left_on='user', how = 'left')

In [ ]:
df_rat

           user         isbn  ...  total_book_rating total_user_rating
0        276725   034545104X  ...                 60                 1
1        276726   0155061224  ...                  2                 1
2        276727   0446520802  ...                116                 1
3        276729   052165615X  ...                  1                 2
4        276729   0521795028  ...                  1                 2
...         ...          ...  ...                ...               ...
1149775  276704   1563526298  ...                  3                17
1149776  276706   0679447156  ...                 40                 1
1149777  276709   0515107662  ...                 44                 1
1149778  276721   0590442449  ...                 15                 1
1149779  276723  05162443314  ...                  1                 1

[1149780 rows x 7 columns]

In [ ]:
df_rat = df_rat.query('total_book_rating >= 100 & total_user_rating >= 200')

In [ ]:
df_rat.reset_index()

         index    user  ... total_book_rating  total_user_rating
0         1456  277427  ...               171                497
1         1469  277427  ...               494                497
2         1471  277427  ...               350                497
3         1474  277427  ...               291                497
4         1484  277427  ...               189                497
...        ...     ...  ...               ...                ...
49776  1147304  275970  ...               167               1376
49777  1147436  275970  ...               157               1376
49778  1147439  275970  ...               106               1376
49779  1147440  275970  ...               202               1376
49780  1147441  275970  ...               128               1376

[49781 rows x 8 columns]

In [ ]:
final_df = df_rat.copy()

In [ ]:
piv_tab_books = final_df.pivot_table(index='title', columns='user', values='rating').fillna(0)

In [ ]:
piv_tab_books.head()

user                                                254     ...  278418
title                                                       ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0  ...     0.0

[5 rows x 888 columns]

In [ ]:
model = NearestNeighbors(metric = 'cosine')

In [ ]:
model.fit(piv_tab_books)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [ ]:
# function to return recommended books - this will be tested
def get_recommends(book = ""):
  global piv_tab_books, model
  dist, index = model.kneighbors(piv_tab_books.query('title == @book'), 6)
  dist = list(dist.flatten())
  index = list(index.flatten())
  dist.pop(0)
  val = piv_tab_books.index[index.pop(0)]
  recommended_books = list()
  recommended_books.append(val)
  bk_lst = list()
  for x in range(len(dist)):
    bk_lst.append((dist.pop(0),piv_tab_books.index[index.pop(0)]))
  bk_lst = sorted(bk_lst,reverse = True)
  bk_lst_sorted = list()
  for d, bk in bk_lst:
    bk_lst_sorted.append([bk,d])
  recommended_books.append(bk_lst_sorted)
  
  return recommended_books

In [ ]:
get_recommends('The Queen of the Damned (Vampire Chronicles (Paperback))')

['The Queen of the Damned (Vampire Chronicles (Paperback))',
 [['Catch 22', 0.7939835],
  ['The Witching Hour (Lives of the Mayfair Witches)', 0.74486566],
  ['Interview with the Vampire', 0.73450685],
  ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.53763384],
  ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.51784116]]]

Use the cell below to test your function. The `test_book_recommendation()` function will inform you if you passed the challenge or need to keep trying.

In [ ]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You havn't passed yet. Keep trying!")

test_book_recommendation()

["Where the Heart Is (Oprah's Book Club (Paperback))", [["I'll Be Seeing You", 0.8016211], ['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075], ['The Lovely Bones: A Novel', 0.7234864]]]
You passed the challenge! 🎉🎉🎉🎉🎉